PAC3 VISUALITZACIÖ DE DADES - PART 1 - SELECCIÓ DE DADES

In [52]:
# Import libraries
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#pip install xlrd==1.2.0

In [2]:
# Open the CSV file
csv_file_path = ("./FoodBalanceSheets_E_All_Data_(Normalized).csv")
# Read the CSV file into a dataframe
df = pd.read_csv(csv_file_path, encoding= 'latin-1')

print(df.shape)

(3979374, 13)

In [3]:
categories = ['Barley and products', 'Alcoholic Beverages', 'Animal Products', 'Animal fats',
              'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs', 'Fish, Seafood',
              'Fruits - Excluding Wine', 'Grand Total', 'Meat', 'Milk - Excluding Butter',
              'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots',
              'Stimulants', 'Sugar & Sweeteners', 'Sugar Crops', 'Treenuts', 'Vegetable Oils',
              'Vegetables', 'Vegetal Products']

df_filtered = df[df['Item'].isin(categories)]
df_filtered.shape

(984104, 13)

In [4]:
df_filtered['Item'].unique()

array(['Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Animal fats', 'Fish, Seafood',
       'Barley and products', 'Aquatic Products, Other', 'Starchy Roots',
       'Sugar & Sweeteners', 'Sugar Crops', 'Pulses', 'Treenuts',
       'Oilcrops', 'Vegetable Oils', 'Vegetables',
       'Fruits - Excluding Wine', 'Stimulants', 'Spices',
       'Alcoholic Beverages', 'Meat', 'Offals', 'Eggs',
       'Milk - Excluding Butter', 'Miscellaneous'], dtype=object)

In [5]:
df_filtered2 = df_filtered.loc[:, ['Area', 'Item','Element', 'Year', 'Value','Flag']]
df_filtered2.shape

(984104, 6)

In [6]:
df_only_imputed = df_filtered2[df_filtered2['Flag'] == 'E']
df_only_imputed.loc[:, 'Year'] = df_only_imputed['Year'].astype(str)
df_only_imputed.shape

(892313, 6)

In [7]:
unique_values = df_only_imputed.apply(lambda x: x.unique()).transpose()
unique_values

Area       [Bahrain, Bhutan, Afghanistan, Albania, Algeri...
Item       [Grand Total, Vegetal Products, Animal Product...
Element    [Food supply (kcal/capita/day), Food supply (k...
Year       [2019, 2020, 2010, 2011, 2012, 2013, 2014, 201...
Value      [3435.0, 3484.0, 2057877.99, 2164103.52, 92.37...
Flag                                                     [E]
dtype: object

In [8]:
print("VARIABLES CONTINUES")
continuous_vars = [col for col in df_only_imputed.columns if np.issubdtype(df_only_imputed[col].dtype, np.number)]

for col in continuous_vars:
    print(f"Summary for column '{col}':")
    print(df_filtered[col].describe())
    print("\n")

VARIABLES CONTINUES
Summary for column 'Value':
count    9.841040e+05
mean     1.387433e+06
std      4.905618e+07
min     -4.114600e+04
25%      3.000000e-01
50%      2.100000e+01
75%      6.250000e+02
max      8.434172e+09
Name: Value, dtype: float64

In [9]:
print("\nVARIABLES CATEGORIQUES\n")

df_categorical = df_only_imputed.select_dtypes(include=['object'])

for column in df_categorical.columns:
    unique_values = df_categorical[column].unique()
    print("Column:", column)
    print("Length:", len(unique_values))
    print("Unique Values:", unique_values)

VARIABLES CATEGORIQUES

Column: Area
Length: 221
Unique Values: ['Bahrain' 'Bhutan' 'Afghanistan' 'Albania' 'Algeria' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Burundi' 'Benin' 'Bolivia (Plurinational State of)'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Micronesia (Federated States of)' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Netherlands Antilles (former)' 'Nauru' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'Qatar' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Republic of Korea'
 'Republic of Moldova' 'South Sudan' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Sudan' 'South Africa' 'Spain' 'Sri Lanka'
 'Suriname' 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan'
 'Thailand' 'Timor-Leste' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Türkiye'
 'Turkmenistan' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland' 'World'
 'United Republic of Tanzania' 'Africa' 'Eastern Africa'
 'United States of America' 'Middle Africa' 'Uruguay' 'Northern Africa'
 'Uzbekistan' 'Southern Africa' 'Vanuatu' 'Western Africa'
 'Venezuela (Bolivarian Republic of)' 'Viet Nam' 'Americas'
 'Northern America' 'Yemen' 'Zambia' 'Central America' 'Zimbabwe'
 'Caribbean' 'South America' 'Asia' 'Central Asia' 'Eastern Asia'
 'Southern Asia' 'South-eastern Asia' 'Western Asia' 'Europe'
 'Eastern Europe' 'Northern Europe' 'Southern Europe' 'Western Europe'
 'Oceania' 'Australia and New Zealand' 'Melanesia' 'Micronesia'
 'Polynesia' 'European Union (27)' 'Least Developed Countries'
 'Land Locked Developing Countries' 'Small Island Developing States'
 'Low Income Food Deficit Countries'
 'Net Food Importing Developing Countries']
Column: Item
Length: 25
Unique Values: ['Grand Total' 'Vegetal Products' 'Animal Products'
 'Cereals - Excluding Beer' 'Animal fats' 'Fish, Seafood'
 'Barley and products' 'Aquatic Products, Other' 'Starchy Roots'
 'Sugar & Sweeteners' 'Sugar Crops' 'Pulses' 'Treenuts' 'Oilcrops'
 'Vegetable Oils' 'Vegetables' 'Fruits - Excluding Wine' 'Stimulants'
 'Spices' 'Alcoholic Beverages' 'Meat' 'Offals' 'Eggs'
 'Milk - Excluding Butter' 'Miscellaneous']
Column: Element
Length: 20
Unique Values: ['Food supply (kcal/capita/day)' 'Food supply (kcal)'
 'Protein supply quantity (g/capita/day)' 'Protein supply quantity (g)'
 'Fat supply quantity (g/capita/day)' 'Fat supply quantity (g)'
 'Production' 'Import Quantity' 'Stock Variation' 'Export Quantity'
 'Domestic supply quantity' 'Feed' 'Losses' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Seed' 'Processing'
 'Other uses (non-food)' 'Tourist consumption']
Column: Year
Length: 11
Unique Values: ['2019' '2020' '2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017'
 '2018']
Column: Flag
Length: 1
Unique Values: ['E']

In [10]:
#df_reshaped = df_only_imputed.pivot_table(index='Area', columns=['Element', 'Year'], values='Value', aggfunc='first')
#df_reshaped

Element        Domestic supply quantity
Year                               2010       2011       2012       2013
Area
Afghanistan                      7659.0     7406.0     7705.0     8161.0  \
Africa                         225585.0   227302.0   243038.0   249281.0
Albania                          1156.0     1151.0     1120.0     1116.0
Algeria                         13521.0    14828.0    15247.0    15282.0
Americas                       580858.0   568857.0   572213.0   600112.0
...                                 ...        ...        ...        ...
Western Europe                 100773.0   101434.0   101524.0   104884.0
World                         2494627.0  2548174.0  2540122.0  2623350.0
Yemen                            4773.0     4733.0     5090.0     5030.0
Zambia                           2325.0     2334.0     2438.0     2703.0
Zimbabwe                         2155.0     1966.0     2170.0     2092.0

Element
Year                 2014       2015       2016       2017       2018
Area
Afghanistan        8171.0     8236.0     8125.0     8249.0     8076.0  \
Africa           255378.0   264128.0   277176.0   278747.0   285240.0
Albania            1125.0     1129.0     1116.0     1110.0     1099.0
Algeria           15475.0    16744.0    16855.0    16355.0    18487.0
Americas         597616.0   613199.0   646902.0   644723.0   622714.0
...                   ...        ...        ...        ...        ...
Western Europe   108086.0   110739.0   104755.0   107819.0   106186.0
World           2638022.0  2726216.0  2822918.0  2853665.0  2857179.0
Yemen              5156.0     4878.0     4778.0     5100.0     5283.0
Zambia             3014.0     3087.0     3096.0     3208.0     3074.0
Zimbabwe           1965.0     1824.0     1967.0     2125.0     2097.0

Element                    ... Tourist consumption
Year                 2019  ...                2010    2011    2012    2013
Area                       ...
Afghanistan        8123.0  ...                 NaN     NaN     NaN     NaN  \
Africa           289243.0  ...                81.0    70.0    63.0    73.0
Albania            1122.0  ...                 NaN     NaN     NaN     NaN
Algeria           18927.0  ...                 NaN     NaN     NaN     NaN
Americas         655366.0  ...                68.0    72.0    82.0    78.0
...                   ...  ...                 ...     ...     ...     ...
Western Europe   112003.0  ...                 0.0     0.0     0.0     0.0
World           2914419.0  ...               823.0  1046.0  1436.0  1343.0
Yemen              5438.0  ...                 NaN     NaN     NaN     NaN
Zambia             2960.0  ...                 NaN     NaN     NaN     NaN
Zimbabwe           1618.0  ...                 NaN     NaN     NaN     NaN

Element
Year              2014   2015   2016   2017    2018   2019
Area
Afghanistan        NaN    NaN    NaN    NaN     NaN    NaN
Africa            77.0   63.0   18.0   19.0    24.0   43.0
Albania            NaN    NaN    NaN    NaN     NaN    NaN
Algeria            NaN    NaN    NaN    NaN     NaN    NaN
Americas          75.0   76.0   85.0   86.0    92.0   97.0
...                ...    ...    ...    ...     ...    ...
Western Europe     NaN    NaN    NaN    NaN     NaN    NaN
World           1199.0  956.0  799.0  895.0  1079.0  712.0
Yemen              NaN    NaN    NaN    NaN     NaN    NaN
Zambia             NaN    NaN    NaN    NaN     NaN    NaN
Zimbabwe           NaN    NaN    NaN    NaN     NaN    NaN

[221 rows x 219 columns]

In [ ]:
#diff amb reshaped esq ara area no es index  pro fem un grup by per no perdre els grups
#df_reshaped_grouped = df_reshaped.groupby('Area').sum().reset_index() 
#df_reshaped_grouped

In [11]:
# Define the mapping of food items to their corresponding Nova groups
nova_classification = {
    'Grand Total': 'Unclassified',
    'Vegetal Products': 'Group 1',
    'Animal Products': 'Group 1',
    'Cereals - Excluding Beer': 'Group 1',
    'Barley and products': 'Group 1',
    'Starchy Roots': 'Group 1',
    'Sugar & Sweeteners': 'Group 2',
    'Sugar Crops': 'Group 2',
    'Pulses': 'Group 1',
    'Treenuts': 'Group 1',
    'Oilcrops': 'Group 1',
    'Vegetable Oils': 'Group 2',
    'Vegetables': 'Group 1',
    'Fruits - Excluding Wine': 'Group 1',
    'Stimulants': 'Group 1',
    'Spices': 'Group 1',
    'Alcoholic Beverages': 'Group 4',
    'Meat': 'Group 1',
    'Offals': 'Group 1',
    'Animal fats': 'Group 1',
    'Eggs': 'Group 1',
    'Milk - Excluding Butter': 'Group 1',
    'Fish, Seafood': 'Group 1',
    'Miscellaneous': 'Group 3',
    'Aquatic Products, Other': 'Group 1'
}

In [13]:
# new category => it refers to ITEM!!!!! 
df_only_imputed2 = df_only_imputed.copy()
df_only_imputed2.loc[:, 'NOVA'] = df_only_imputed2['Item'].map(nova_classification)
df_only_imputed2

,Area,Item,Element,Year,Value,Flag,NOVA
126,Bahrain,Grand Total,Food supply (kcal/capita/day),2019,3435.00,E,Unclassified
145,Bahrain,Grand Total,Food supply (kcal/capita/day),2020,3484.00,E,Unclassified
161,Bahrain,Grand Total,Food supply (kcal),2019,2057877.99,E,Unclassified
181,Bahrain,Grand Total,Food supply (kcal),2020,2164103.52,E,Unclassified
199,Bahrain,Grand Total,Protein supply quantity (g/capita/day),2019,92.37,E,Unclassified
...,...,...,...,...,...,...,...
3979369,World,Miscellaneous,Fat supply quantity (g),2016,28371.84,E,Group 3
3979370,World,Miscellaneous,Fat supply quantity (g),2017,28643.58,E,Group 3
3979371,World,Miscellaneous,Fat supply quantity (g),2018,29754.95,E,Group 3
3979372,World,Miscellaneous,Fat supply quantity (g),2019,33078.15,E,Group 3
3979373,World,Miscellaneous,Fat supply quantity (g),2020,33969.37,E,Group 3

In [73]:
df_reshaped = df_only_imputed2.pivot_table(index='Area', columns=['Item','NOVA','Element','Year'], values='Value', aggfunc='first')
df_reshaped

Item                Alcoholic Beverages
NOVA                            Group 4
Element        Domestic supply quantity
Year                               2010      2011      2012      2013
Area
Afghanistan                         3.0       3.0       3.0       2.0  \
Africa                          29331.0   28714.0   28980.0   29663.0
Albania                           104.0     111.0     100.0     105.0
Algeria                           130.0     132.0     142.0     151.0
Americas                        78473.0   82871.0   82997.0   81729.0
...                                 ...       ...       ...       ...
Western Europe                  22896.0   24353.0   23095.0   22526.0
World                          270552.0  280069.0  281066.0  281440.0
Yemen                              13.0      10.0      10.0      10.0
Zambia                            438.0     413.0     428.0     439.0
Zimbabwe                          394.0     343.0     383.0     396.0

Item
NOVA
Element
Year                2014      2015      2016      2017      2018      2019
Area
Afghanistan          1.0       0.0      30.0       0.0       1.0       1.0  \
Africa           32286.0   32330.0   32000.0   31622.0   32117.0   30574.0
Albania            107.0     106.0     108.0     108.0     105.0     105.0
Algeria            203.0     208.0     215.0     213.0     215.0     194.0
Americas         74973.0   75310.0   74930.0   75183.0   72661.0   75354.0
...                  ...       ...       ...       ...       ...       ...
Western Europe   23521.0   23253.0   23280.0   23181.0   22515.0   22163.0
World           282874.0  282847.0  283542.0  274635.0  269561.0  270582.0
Yemen               11.0       7.0       7.0       6.0       5.0       0.0
Zambia             678.0     674.0     715.0     638.0     680.0     613.0
Zimbabwe           453.0     361.0     392.0     378.0     395.0     342.0

Item            ...                       Vegetal Products
NOVA            ...                                Group 1
Element         ... Protein supply quantity (g/capita/day)
Year            ...                                   2011   2012   2013
Area            ...
Afghanistan     ...                                  46.44  45.92  46.02  \
Africa          ...                                  52.48  52.69  52.51
Albania         ...                                  52.68  53.15  52.99
Algeria         ...                                  63.39  64.99  64.43
Americas        ...                                  40.71  40.76  40.78
...             ...                                    ...    ...    ...
Western Europe  ...                                  40.45  39.95  39.99
World           ...                                  48.63  48.76  49.07
Yemen           ...                                  46.27  47.71  46.55
Zambia          ...                                  42.60  42.92  44.69
Zimbabwe        ...                                  31.82  32.57  32.58

Item
NOVA
Element
Year             2014   2015   2016   2017   2018   2019   2020
Area
Afghanistan     46.21  46.37  46.93  48.34  46.94  46.04  46.18
Africa          51.81  51.72  51.77  51.99  51.93  51.37  51.52
Albania         53.38  53.17  52.54  52.01  52.03  52.96  53.68
Algeria         63.75  64.58  63.18  62.72  65.99  66.88  65.00
Americas        40.83  40.38  40.73  41.14  41.16  40.64  41.47
...               ...    ...    ...    ...    ...    ...    ...
Western Europe  41.37  42.03  42.10  42.15  41.86  40.60  40.90
World           49.25  49.34  49.87  50.47  50.24  50.17  50.83
Yemen           46.34  42.48  40.61  41.68  41.30  42.41  43.07
Zambia          45.00  45.81  46.36  44.35  43.85  38.82  42.09
Zimbabwe        33.20  31.63  32.16  32.64  32.17  27.40  31.31

[221 rows x 4730 columns]

# PART 2: VISUALITZACIÓ DE LES DADES

mapa 1 food supply => food import and export =z mapa amb 3 sheets
com que e una variable que tneim epr cada itemhaurem de fer un sumatori per saber el food uplly del pasi n per cada item sino en general
llavors si que podrem mriar de fer un altre pas que sigui triar item
per ara ho farem nomes actualment

In [174]:
temp

Item                Alcoholic Beverages
NOVA                            Group 4
Element        Domestic supply quantity
Year                               2010      2011      2012      2013
Area
Afghanistan                         3.0       3.0       3.0       2.0  \
Africa                          29331.0   28714.0   28980.0   29663.0
Albania                           104.0     111.0     100.0     105.0
Algeria                           130.0     132.0     142.0     151.0
Americas                        78473.0   82871.0   82997.0   81729.0
...                                 ...       ...       ...       ...
Western Europe                  22896.0   24353.0   23095.0   22526.0
World                          270552.0  280069.0  281066.0  281440.0
Yemen                              13.0      10.0      10.0      10.0
Zambia                            438.0     413.0     428.0     439.0
Zimbabwe                          394.0     343.0     383.0     396.0

Item
NOVA
Element
Year                2014      2015      2016      2017      2018      2019
Area
Afghanistan          1.0       0.0      30.0       0.0       1.0       1.0  \
Africa           32286.0   32330.0   32000.0   31622.0   32117.0   30574.0
Albania            107.0     106.0     108.0     108.0     105.0     105.0
Algeria            203.0     208.0     215.0     213.0     215.0     194.0
Americas         74973.0   75310.0   74930.0   75183.0   72661.0   75354.0
...                  ...       ...       ...       ...       ...       ...
Western Europe   23521.0   23253.0   23280.0   23181.0   22515.0   22163.0
World           282874.0  282847.0  283542.0  274635.0  269561.0  270582.0
Yemen               11.0       7.0       7.0       6.0       5.0       0.0
Zambia             678.0     674.0     715.0     638.0     680.0     613.0
Zimbabwe           453.0     361.0     392.0     378.0     395.0     342.0

Item            ...                       Vegetal Products
NOVA            ...                                Group 1
Element         ... Protein supply quantity (g/capita/day)
Year            ...                                   2011   2012   2013
Area            ...
Afghanistan     ...                                  46.44  45.92  46.02  \
Africa          ...                                  52.48  52.69  52.51
Albania         ...                                  52.68  53.15  52.99
Algeria         ...                                  63.39  64.99  64.43
Americas        ...                                  40.71  40.76  40.78
...             ...                                    ...    ...    ...
Western Europe  ...                                  40.45  39.95  39.99
World           ...                                  48.63  48.76  49.07
Yemen           ...                                  46.27  47.71  46.55
Zambia          ...                                  42.60  42.92  44.69
Zimbabwe        ...                                  31.82  32.57  32.58

Item
NOVA
Element
Year             2014   2015   2016   2017   2018   2019   2020
Area
Afghanistan     46.21  46.37  46.93  48.34  46.94  46.04  46.18
Africa          51.81  51.72  51.77  51.99  51.93  51.37  51.52
Albania         53.38  53.17  52.54  52.01  52.03  52.96  53.68
Algeria         63.75  64.58  63.18  62.72  65.99  66.88  65.00
Americas        40.83  40.38  40.73  41.14  41.16  40.64  41.47
...               ...    ...    ...    ...    ...    ...    ...
Western Europe  41.37  42.03  42.10  42.15  41.86  40.60  40.90
World           49.25  49.34  49.87  50.47  50.24  50.17  50.83
Yemen           46.34  42.48  40.61  41.68  41.30  42.41  43.07
Zambia          45.00  45.81  46.36  44.35  43.85  38.82  42.09
Zimbabwe        33.20  31.63  32.16  32.64  32.17  27.40  31.31

[221 rows x 4730 columns]

In [175]:
temp = df_reshaped.copy()
#temp2 = temp.loc[temp.index.get_level_values("Area") == "Spain"]
temp3 = temp.unstack().to_frame()
temp3 = temp3.reset_index()
temp4 = temp3[temp3['Element'] =="Food supply (kcal/capita/day)"]
# Agrupar per any i sumar els valors del subministrament alimentari
grouped_df = temp4.groupby(['Area','Year'])[0].sum().reset_index()
grouped_df = grouped_df[grouped_df["Year"] == "2020"]
grouped_df


# Agrupar per any i sumar els valors del subministrament alimentari
grouped_df = temp4.groupby(['Area','Year'])[0].sum().reset_index()
grouped_df = grouped_df[grouped_df["Year"] == "2020"]
grouped_df

# Guardar el nou DataFrame en un fitxer CSV
grouped_df.to_csv('subministrament_alimentari_total.csv', index=False)

,Item,NOVA,Element,Year,Area,0
14807,Alcoholic Beverages,Group 4,Food supply (kcal/capita/day),2010,Afghanistan,0.0
14808,Alcoholic Beverages,Group 4,Food supply (kcal/capita/day),2010,Africa,37.0
14809,Alcoholic Beverages,Group 4,Food supply (kcal/capita/day),2010,Albania,60.0
14810,Alcoholic Beverages,Group 4,Food supply (kcal/capita/day),2010,Algeria,5.0
14811,Alcoholic Beverages,Group 4,Food supply (kcal/capita/day),2010,Americas,108.0
...,...,...,...,...,...,...
1040463,Vegetal Products,Group 1,Food supply (kcal/capita/day),2020,Western Europe,2392.0
1040464,Vegetal Products,Group 1,Food supply (kcal/capita/day),2020,World,2449.0
1040465,Vegetal Products,Group 1,Food supply (kcal/capita/day),2020,Yemen,1967.0
1040466,Vegetal Products,Group 1,Food supply (kcal/capita/day),2020,Zambia,2202.0
1040467,Vegetal Products,Group 1,Food supply (kcal/capita/day),2020,Zimbabwe,1629.0

In [179]:
### ara que sabem quins paisos tenim info ,,,,, filtrem i feme el mateix per producció ep imp? p no...

                Area  Year         0
10       Afghanistan  2020   6720.89
21            Africa  2020   7829.75
32           Albania  2020   9904.69
43           Algeria  2020  10553.89
54          Americas  2020  10110.54
...              ...   ...       ...
2386  Western Europe  2020  10782.27
2397           World  2020   8955.09
2408           Yemen  2020   6360.92
2419          Zambia  2020   7026.00
2430        Zimbabwe  2020   5861.09

[221 rows x 3 columns]

In [197]:
temp = df_reshaped.copy()
#temp2 = temp.loc[temp.index.get_level_values("Area") == "Spain"]
temp3 = temp.unstack().to_frame()
temp3 = temp3.reset_index()
temp4 = temp3[temp3['Element'].isin(["Production", "Import Quantity", "Export Quantity"])]
regions = [
    'Australia and New Zealand',
    'Caribbean',
    'Central America',
    'Central Asia',
    'Eastern Africa',
    'Eastern Asia',
    'Eastern Europe',
    'Melanesia',
    'Micronesia',
    'Middle Africa',
    'Northern Africa',
    'Northern America',
    'Northern Europe',
    'Polynesia',
    'South America',
    'South-eastern Asia',
    'Southern Africa',
    'Southern Asia',
    'Southern Europe',
    'Western Africa',
    'Western Asia',
    'Western Europe',
    'Africa',
    'Americas',
    'Asia',
    'Europe',
    'Oceania',
    'World'
]

temp5 = temp4[temp4['Area'].isin(regions)]
# Agrupar per any i sumar els valors del subministrament alimentari
grouped_df = temp5.groupby(['Area','Year',"Element"])[0].sum().reset_index()
grouped_df = grouped_df[grouped_df["Year"] == "2020"]
transposed_df = grouped_df.pivot(index=['Area', 'Year'], columns='Element', values=0).reset_index()
transposed_df
transposed_df.to_csv('pro_imp_exp.csv', index=False)

In [208]:
temp = df_reshaped.copy()
#temp2 = temp.loc[temp.index.get_level_values("Area") == "Spain"]
temp3 = temp.unstack().to_frame()
temp3 = temp3.reset_index()
temp4 = temp3[temp3['Element'].isin(["Food supply (kcal/capita/day)"])]
continents = ontinents = [
    'Africa',
    'Americas',
    'Asia',
    'Europe',
    'Oceania',
    'World'
]

temp5 = temp4[temp4['Area'].isin(continents)]
# Agrupar per any i sumar els valors del subministrament alimentari
grouped_df = temp5.groupby(['Area','Year',"Item", "NOVA"])[0].sum().reset_index()
grouped_df = grouped_df[grouped_df["Year"] == "2020"]
transposed_df = grouped_df.pivot(index=['Item', 'Year', 'NOVA'], columns='Area', values=0).reset_index()
transposed_df

Area,Item,Year,NOVA,Africa,Americas,Asia,Europe,Oceania,World
0,Alcoholic Beverages,2020,Group 4,29.00,95.00,43.00,159.00,102.00,59.00
1,Animal Products,2020,Group 1,188.00,852.00,484.00,995.00,877.00,533.00
2,Animal fats,2020,Group 1,14.00,82.00,55.00,189.00,124.00,65.00
3,"Aquatic Products, Other",2020,Group 1,0.00,0.00,5.00,0.00,0.00,3.00
4,Barley and products,2020,Group 1,21.75,3.54,4.47,12.97,0.72,8.09
5,Cereals - Excluding Beer,2020,Group 1,1242.00,986.00,1465.00,1013.00,751.00,1317.00
6,Eggs,2020,Group 1,8.00,53.00,46.00,53.00,25.00,41.00
7,"Fish, Seafood",2020,Group 1,19.00,25.00,42.00,47.00,41.00,36.00
8,Fruits - Excluding Wine,2020,Group 1,114.00,129.00,93.00,117.00,152.00,104.00
9,Grand Total,2020,Unclassified,2602.00,3369.00,2931.00,3430.00,3111.00,2982.00
10,Meat,2020,Group 1,80.00,428.00,214.00,347.00,410.00,233.00
11,Milk - Excluding Butter,2020,Group 1,62.00,255.00,116.00,348.00,254.00,148.00
12,Miscellaneous,2020,Group 3,2.00,2.00,2.00,5.00,13.00,2.00
13,Offals,2020,Group 1,6.00,8.00,7.00,10.00,23.00,7.00
14,Oilcrops,2020,Group 1,68.00,45.00,86.00,27.00,80.00,72.00
15,Pulses,2020,Group 1,104.00,79.00,63.00,27.00,53.00,69.00
16,Spices,2020,Group 1,15.00,6.00,17.00,5.00,6.00,14.00
17,Starchy Roots,2020,Group 1,406.00,105.00,100.00,134.00,185.00,157.00
18,Stimulants,2020,Group 1,3.00,16.00,4.00,27.00,25.00,8.00
19,Sugar & Sweeteners,2020,Group 2,145.00,460.00,181.00,357.00,360.00,230.00
20,Sugar Crops,2020,Group 2,5.00,3.00,5.00,0.00,0.00,4.00
21,Treenuts,2020,Group 1,7.00,25.00,14.00,32.00,48.00,16.00
22,Vegetable Oils,2020,Group 2,228.00,513.00,250.00,454.00,396.00,301.00
23,Vegetables,2020,Group 1,47.00,53.00,124.00,77.00,62.00,97.00
24,Vegetal Products,2020,Group 1,2414.00,2518.00,2447.00,2435.00,2234.00,2449.00

In [119]:
# Agrupar per any i sumar els valors del subministrament alimentari
grouped_df = temp5.groupby(['Area','Year',"Element"])[0].sum().reset_index()
grouped_df = grouped_df[grouped_df["Year"] == "2020"]
transposed_df = grouped_df.pivot(index=['Area', 'Year'], columns='Element', values=0).reset_index()
transposed_df
transposed_df.to_csv('pro_imp_exp.csv', index=False)

In [136]:
# new category => it refers to ITEM!!!!! 
df_only_imputed2 = df_only_imputed.copy()
df_only_imputed2.loc[:, 'NOVA'] = df_only_imputed2['Item'].map(nova_classification)
df_only_imputed2